body {
    background-color: green;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    text-align: center;
    font-size: 125px;
    margin: 45px 25px;
}

button {
    height: 100px;
    width: 400px;
    text-align: center;
    font-size: 50px;
    margin: 20px 600px;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    outline: none;
    border: 2px solid grey;
    font-family: 'Press Start 2P', cursive;
    
}

button:hover {background-color: rgb(120, 118, 118)}


/* INSTRUCTIONS CSS */
/* Popup container */
/* Button used to open the contact form - fixed at the bottom of the page */
/* .instructions {
  
  padding: 25px;
  border: none;
  cursor: pointer;

} */

/* The popup form - hidden by default */
.instructions-popup {
  display: none;
  position: fixed;
  top: 300px;
  right: 75px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.instructions-container {
  max-width: 600px;
  padding: 5px;
  background-color: lightgray;
  color: black;
  font-size: 18px;
  
}


/* Add a red background color to the cancel button */
.instructions-popup-cancel {
    background-color: rgb(238, 102, 102);
    color: black;
    position: relative;
    text-align: center;
    font-size: 18px;
    width: 100px;
  }
  




